<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
<div class="x_title">
   <h2>Editar Subcategoria</h2>
   <div class="clearfix"></div>
</div>
<%= render 'form', sub_category: @sub_categories %>
</div>
</div>